.not-found {
    text-align: center !important;
}

.ascii-art pre {
    font-size: 1em;
    line-height: 1em;
}

p {
    hyphens: auto;
}

code {
    hyphens: none;
}

a.secret-link:not(:hover) {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}

/* SERIF FONT FOR BODY TEXT */
main.content p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}