extends layout
include mixins

block content
  section.section.is-medium
    .container
      .columns
        .column.is-half
          h1.title Hello,
          h2.subtitle my name is Vsevolod Shegolev
          p I'm an Enzymology & Computational Chemistry student at <a href='https://www.msu.ru/en/'>Lomonosov MSU</a>
          hr
          h2.subtitle You can contact me via
          .contacts
            each cnt in contacts
              +contact(cnt)
