include mixins

!!! 5
html(lang=en)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title} - Vsevolod Shegolev's website
    link(rel="stylesheet" href=url_for('static', filename='styles/all_sass.css'))
    link(rel="stylesheet", href="https://unpkg.com/buefy/dist/buefy.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css")
    link(rel="stylesheet" href=url_for('static', filename='styles/style.css'))
  body
    #app
      header
        include head
      main
        block content
      footer
        include foot
    script(src="https://unpkg.com/vue")
    script(src="https://unpkg.com/buefy/dist/buefy.min.js")
    script new Vue({ el: '#app' })
